@import 'font-awesome';

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex-basis: 800px;
}

article {
  flex: 1 1 60%;
}

header {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  flex: 1 1 20%;
  background-color: blue;
  order: -1;
}

aside {
  flex: 4 0 20%;
  background-color: red
}

footer {
  background-color: yellow;
  flex-basis: 200px;
}

i {
  color: black;
  margin: 5px;
}

.fa-bars {
  cursor: pointer;
}
